// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define LIN 0
#define RIG 1
#define LEF 2
#define TRI 3

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1>;
            then-layer = <2>;
        };
    };

    // Outside "&none" placement is because it is a 36 key corne, so the outside PCB was broken off. Need those there to match the shield

    combos {
        compatible = "zmk,combos";

        to_cdh {
            bindings = <&to 4>;
            key-positions = <25 34 37 40>;
            layers = <0>;
        };

        to_qwerty {
            bindings = <&to 0>;
            key-positions = <25 34 37 40>;
            layers = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &kp Q             &kp W           &kp E            &kp R               &kp T       &kp Y      &kp U                &kp I            &kp O            &kp P                      &none
&none  &ht LEFT_SHIFT A  &ht LEFT_ALT S  &ht LEFT_META D  &ht LEFT_CONTROL F  &kp G       &kp H      &ht RIGHT_CONTROL J  &ht RIGHT_GUI K  &ht RIGHT_ALT L  &ht RIGHT_SHIFT SEMICOLON  &none
&none  &kp Z             &kp X           &kp C            &kp V               &kp B       &kp N      &kp M                &kp COMMA        &kp DOT          &mt RSHIFT FSLH            &none
                                         &kp LGUI         &lt 2 ESC           &kp BSPC    &kp SPACE  &lt 1 ENTER          &kp TAB
            >;

            label = "qwerty";
        };

        right_layer {
            bindings = <
&none  &kp TILDE  &kp GRAVE  &none   &none   &none     &none      &none      &none     &none     &none   &none
&none  &kp N1     &kp N2     &kp N3  &kp N4  &kp N5    &kp N6     &kp N7     &kp N8    &kp N9    &kp N0  &none
&none  &kp BSLH   &none      &none   &none   &none     &kp EQUAL  &kp UNDER  &kp LBKT  &kp RBKT  &none   &none
                             &trans  &trans  &trans    &trans     &trans     &trans
            >;

            label = "numbers";
        };

        left_layer {
            bindings = <
&none  &none     &none     &none      &none      &none        &kp SQT    &kp DQT    &none      &none     &kp PIPE  &none
&none  &kp EXCL  &kp AT    &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &none
&none  &none     &kp HOME  &kp PG_DN  &kp PG_UP  &kp END      &kp PLUS   &kp MINUS  &kp LBRC   &kp RBRC  &none     &none
                           &trans     &trans     &trans       &trans     &trans     &trans
            >;

            label = "symbols";
        };

        tri_layer {
            bindings = <
&none  &kp F1  &kp F2   &kp F3   &kp F4   &bt BT_SEL 0    &bt BT_SEL 2  &out OUT_TOG   &none        &kp C_MUTE    &kp C_NEXT  &none
&none  &kp F5  &kp F6   &kp F7   &kp F8   &bt BT_SEL 1    &bt BT_SEL 3  &kp C_BRI_UP   &kp LG(RET)  &kp C_VOL_UP  &kp C_PP    &none
&none  &kp F9  &kp F10  &kp F11  &kp F12  &bt BT_CLR      &bt BT_SEL 4  &kp C_BRI_DEC  &none        &kp C_VOL_DN  &kp C_PREV  &none
                        &trans   &trans   &trans          &trans        &trans         &trans
            >;

            label = "system";
        };

        colmak-dh {
            bindings = <
&none  &kp Q             &kp W           &kp F           &kp P               &kp B     &kp J   &kp L                &kp U            &kp Y           &kp SEMI           &none
&none  &ht LEFT_SHIFT A  &ht LEFT_ALT R  &ht LEFT_GUI S  &ht LEFT_CONTROL T  &kp G     &kp M   &ht RIGHT_CONTROL N  &ht RIGHT_GUI E  &ht LEFT_ALT I  &ht RIGHT_SHIFT O  &none
&none  &kp Z             &kp X           &kp C           &kp D               &kp V     &kp K   &kp H                &kp COMMA        &kp DOT         &kp FSLH           &none
                                         &trans          &lt 2 ESCAPE        &trans    &trans  &lt 1 ENTER          &trans
            >;

            label = "colmak";
        };
    };
};

/ {
    chosen {
        zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
        label = "VBATT";
    };
};
